* { 
  margin: 0; 
  padding: 0; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  display: block;
  height: 102px;
  width: 100%;
}

main {
  display: block;
}

header .c-nav {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  margin-left: 0;
  position: fixed;
  z-index: 90;
  background-color: #2C2F40;

}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display:flex;
}

ul {
  //remove dot from unordered list
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  //remove the underline from hyperlink
  text-decoration: none;
  display: block;
  padding: 0 1em;
}

.social {
  margin-left: 40%;
}

.hero {
  background-color: #313132;
  color: white;
  height: 898px;
  display: grid;
  text-align: left;
  padding: 5em;
}

.hero .center {
  font-size: 50px;
  display: flex;
  margin: 100px;
}

li {
  display: list-item;
}

.nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.headerlist-navbar {
  display: inline-block;
  margin-right: 1.5rem;
}


h2 {
  transform: rotate(-90deg);
  width: 0;
  position: relative;
  top: 300px;
  left: 20px;
  white-space: nowrap;
  z-index: 45;
}

span {
  border-bottom: 2.5px solid #0087E9;
  padding-bottom: 90px;
}

.about-me {
  background-color: #2C2F40;
  color: white;
  height: 90vh;
  display: flex;
  
}

.about-me .left .aboutMe {
  padding: 100px ;
}

.about-me .aboutMe .c1 {
  border-bottom: 2.5px solid #0087E9;
  padding-bottom: 2.5px;
}

.about-me .left p {
  padding-top: 15px;
}

.about-me .c span {
  font-size: 32px;
}

h2 {
  font-size: 32px;
}

.personalportrait {
  margin: 100px;
  width: auto;
  height: 500px;
}

.about-me .left h1 {
  text-align: center;  
}

.featured-project {
  background-color: #080C20;
  color: white;
  height: 90vh;
}

.featured-project .featuredprojectwrapper{
  display: flex;
  padding: 300px;
  flex-direction: column;
  text-align: center;
}

.featured-project .featuredprojectwrapper .c2 {
  border-bottom: 2.5px solid #0087E9;
  padding-bottom: 2.5px;
}


.skills-and-tools {
  background-color: #2C2F40;
  color: white;
  height: 100vh;
}

.skills-and-tools .skill {
  display: flex;
  text-align: center;
  margin-top: 30px;
}

.skills-and-tools .skills-wrapper {
  padding: 200px;
}

.skills-and-tools .skills-wrapper .c3{
  border-bottom: 0.17rem solid #0087E9;
  padding-bottom: 2.5px;
}

h4 {
  text-transform: uppercase;
}

.contact {
  background-color: #2A3053;
  color: white;
  height: 90vh;
}

.innerWrapper {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
  // display: flex;
  padding: 200px 100px;
}

.GITtitle {
  padding: 0 15px;
  margin: 1.5rem 0 2rem;
  -webkit-text-decoration: underline #0087E9 0.17rem;
  text-decoration: underline #0087E9 0.17rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.formName .formEmail {
  display: inline-block;
  width: calc(50% - 3px);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea[type=message] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #151e45;
}
